.skill-control {/*技能按钮*/
	max-width: 160px;/*同列技能可容纳最大宽度，建议别调*/
	bottom: 25px;/*整体上移，建议别调*/
	right: 175px;/*技能显示右移，越小越靠右，建议别调*/
	/* border: 3px solid rgb(255, 255, 255);/*调试用*/
	 z-index: 6;

}
.skill-control div {
	position: relative;
}
.skill-control .skillitem {
	float: right;
	white-space: nowrap;
	color: #F5D78E;
	text-shadow: #F5D78E 0 0 1px,
		black 0 0 2px,
		black 0 0 2px,
		black 0 0 2px, 
		black 0 0 2px,
		black 0 0 2px,
		black 0 0 2px;
	font-size: 18px;
}
.skill-control > div {
	display: flex;
	flex-wrap: wrap-reverse;
	flex-direction: row-reverse;
}
.skill-control > div::after {
	content: '';
	display: block;
	clear: both;
}
.skill-control > .enable {
	margin: 0 0 0 auto;
}

.skill-control > .trigger > .skillitem {
	/*--w: auto;
	--h: calc(var(--w) * 91 / 200);
	width: var(--w);
	height: var(--h);
	line-height: var(--h);*/
	text-align: center;
	background-image: url("./images/skill.png");
	padding: 3px 7px;
	background-size: 100% 100%;
	margin: -1px 0px;
	font-family: 'yuanli';
	font-size: 20px;
}
.skill-control > .enable > .skillitem {
	margin: -2px -5px;
	--w: 85px;
	--h: calc(var(--w) * 91 / 200);
	width: var(--w);
	height: var(--h);
	line-height: var(--h);
	text-align: center;
	font-family: 'yuanli';
	font-size: 20px;
	background-image: url("./images/btnn1.png");
	background-size: 100% 100%;
	/*border: 1px solid rgb(3,4,5);/*调试用*/
}
.skill-control > .enable > .skillitem.select {
	background-image: url("./images/btnn3.png");
}
.skill-control > .enable > .skillitem:not(.usable):not(.select) {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

